<div *ngIf="showPracticeBlock">
  <h1>Hola kenny {{title}}</h1>
  <p>1+1 = {{ 1+1 }}</p>
  <!-- property binding -->
  <button [disabled]="disabled">enviar</button>
  <input type="text" [value]="title" (keyup)="changeName($event)">
  <p>{{age}}</p>
  <progress max="100" [value]="age"></progress>
  <!-- event binding -->
  <button (click)="enable()">activar otro boton</button>
  <button (click)="add()">agregar</button>
  <div class="box" (scroll)="onscroll($event)">
    <p>{{'kenny jared molina murillo'.repeat(100)}}</p>
  </div>
  <!-- ngModel -->
  <input type="text" #nameInput="ngModel" [(ngModel)]="title" required>
  <p>{{nameInput.valid}}</p>
  <!-- debo de importa formModule en el  module-->
  <!-- ng if -->
  <p *ngIf="title==='my-app'; else myBlock">es el mismo texto con el titulo </p>
  <ng-template #myBlock>
    <p>hola bloque</p>
  </ng-template>
  <!-- ngFor -->
  <ul>
    <li *ngFor="let value of names; index as i">
      {{value+" "+i}}
    </li>
  </ul>
  <!-- switch -->
  <div [ngSwitch]="title">
    <p *ngSwitchCase="'kenny'">kenny</p>
    <p *ngSwitchCase="'kenny 1'">kenny1</p>
  </div>
  <!-- conditinonal class -->
  <input type="button" (click)="deleteaddclass()" value="quitar/agregar">
  <div [class.box]="showClass" (scroll)="onscroll($event)">
    <p>{{'kenny jared molina murillo'.repeat(100)}}</p>
  </div>
  <input type="text" [(ngModel)]="imageSize" name="" id="">
  <img [style.width.px]="imageSize" class="image-size" src="../assets/img/International_Pokémon_logo.svg.png">
  <!-- ng class ng style sirve mejor que lo anterior -->
  <app-img [stringPasadoPorPafre]="title" (valor2)="onloaded($event)"></app-img>
</div>
<div class="bg-rickMorty">
  <section class="center p-10 ">
    <img class="image-size" src="https://firebasestorage.googleapis.com/v0/b/rick-and-morty-fbf26.appspot.com/o/191041327281-rm4_Hero_000000-767x206.png?alt=media&token=1f0e816d-7375-4c50-a317-ebc5de15e0a4">
  </section>
  <main class="p-10" style="min-height: 90vh;">
    <div class="center">
      <input (keydown)="search()" [(ngModel)]="valueSearch" type="text" class="search-input"
        placeholder="Ingrese el nombre de un personaje..."
        title="escribe el nombre de un persona, o tambien un numero entero 1  en adelante y prueba cual te sale">
    </div>
    <br>
    <div>
      <h1 style="text-align: center;color: white;-webkit-text-stroke: 2px rgb(0, 0, 0);">sugerencias</h1>
      <section class="flex justify-center">
        <div class="mini-card" *ngFor="let el of suggestion">
          <img [src]="el.image" alt="">
          <div style="padding: 20px 5px;">
            <p>{{el.name}}</p>
          </div>
        </div>
      </section>
    </div>
    <div class="center">
      <app-card *ngFor="let element of characters " [image]="element.image" [name]="element.name"
        [gender]="element.gender" [origin]="element.origin.name"  />
        <div *ngIf="showNoContent">
          <p class="notFind">no se encontro ningun personaje o no haz hecho una busqueda aun</p>
        </div>
        <div *ngIf="loading">
          <img src="https://firebasestorage.googleapis.com/v0/b/rick-and-morty-fbf26.appspot.com/o/portal-rick-and-morty.gif?alt=media&token=5d22d2b6-4490-47a8-ac1b-45e118a6c18d" alt="portal">
        </div>
    </div>
  </main>
  <footer class="">
    <div>
      <button (click)="showPractice()">mostrar/ocultar</button>
    </div>
    <div>
      <p class="text-center">frontend rick and morty, by KenJ</p>
      <p class="text-center">proyecto en angular</p>
    </div>
  </footer>
</div>
