<div>
  <section class="center p-10 ">
    <img class="image-size"
      src="https://firebasestorage.googleapis.com/v0/b/rick-and-morty-fbf26.appspot.com/o/191041327281-rm4_Hero_000000-767x206.png?alt=media&token=1f0e816d-7375-4c50-a317-ebc5de15e0a4">
  </section>
  <main class="p-10" style="min-height: 90vh;">
    <div class="center">
      <input (keydown)="search()" [(ngModel)]="valueSearch" type="text" class="search-input"
        placeholder="Ingrese el nombre de un personaje..."
        title="escribe el nombre de un persona, o tambien un numero entero 1  en adelante y prueba cual te sale">
    </div>
    <br>
    <div>
      <h1 style="text-align: center;color: white;-webkit-text-stroke: 2px rgb(0, 0, 0);">sugerencias</h1>
      <section class="flex justify-center">
        <div class="mini-card" *ngFor="let el of suggestion" title="clickeame">
          <img [src]="el.image" alt="">
          <div (click)="setcharacter(el.name)">
            <p>{{el.name}}</p>
          </div>
        </div>
      </section>
    </div>
    <div class="center">
      <div *ngFor="let element of characters ">
        <a [routerLink]="['/characterDetail',element.id]" routerLinkActive="active" ariaCurrentWhenActive="page">
          <app-card [gender]="element.gender" [origin]="element.origin.name" [image]="element.image"
            [name]="element.name" />
        </a>
      </div>

    </div>
    <div class="center" style="flex-direction: column;
    align-content: center;">
      <div *ngIf="characters.length === 0" style="text-align: center;">
        <p class="notFind">{{messageSearchCharacter}}</p>
      </div>
      <div *ngIf="loading" style="margin-right: auto;margin-left: auto;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/rick-and-morty-fbf26.appspot.com/o/portal-rick-and-morty.gif?alt=media&token=5d22d2b6-4490-47a8-ac1b-45e118a6c18d"
          alt="portal">
      </div>
    </div>
  </main>

</div>
