center-content {
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
img {
  width: 400px;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
}

.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.circle {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  width: 12px; /*misma altura y anchura*/
  height: 12px;
}

div {
  font-size: 20px;
}

.blink {
  animation: blinker .5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  font-size: 50px !important; /* y aqui le cambiamos el tamaño solo al punto*/
}
@media only screen and (max-width: 480px) {
  img {
    width: 250px;
  }
}
